[Unit]
Description=Run ddpy when host comes online
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ddpy
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
